{% extends 'base.html.twig' %}

{% block title %}Détails de la Session{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
    <div class="alert">
        {{message}}
    </div>
{% endfor %}
<h2>{{session.nom}} - Formateur: {{ session.formateur }}<br>   </h2>
Date de debut: {{session.dateDebutFormat}}<br>
Date de fin: {{session.dateFinFormat}}<br>
Places totales: {{ session.nbPlace }}<br>
Places Restantes: {{ placeRestantes }}<br>

<h2>Stagiaires inscrits: </h2>
{% if placeRestantes > 0 %}
    {% for stagiaire in session.stagiaires %}
        {{ stagiaire.nom }} {{stagiaire.prenom}}
        <a href="{{  path('removeStagToSession',{'id':session.id, 'stagiaireId':stagiaire.id}) }}">
            <i class="fa-solid fa-user-minus"></i>
        </a> <br>
    {% endfor %}
    <h3>Non inscrits:</h3>
    
    {% for nonInscrit in nonInscrits %}
        {{ nonInscrit.nom }} {{ nonInscrit.prenom}} 
        <a href="{{ path('addStagToSession',{'id':session.id, 'stagiaireId':nonInscrit.id}) }}">
            <i class="fa-solid fa-user-plus"></i>
        </a><br>
    {% endfor %}
{% else %}    
    <h3>Session Pleine: Veuillez supprimer un stagiaire pour pouvoir en ajouter.</h3><br>
    {% for stagiaire in session.stagiaires %}
    {{ stagiaire.nom }} {{stagiaire.prenom}}
    <a href="{{  path('removeStagToSession',{'id':session.id, 'stagiaireId':stagiaire.id}) }}">
        <i class="fa-solid fa-user-minus"></i>
    </a> <br>
    {% endfor %}
    <h3>Non inscrits:</h3>
    
    {% for nonInscrit in nonInscrits %}
        {{ nonInscrit.nom }} {{ nonInscrit.prenom}} 
    {% endfor %}
{% endif %}



<h3>Modules Programmés:</h3>
{% for programme in session.programmes %}
    {{ programme.module }}- Categorie: {{programme.module.categorie}} - Durée: {{ programme.nbJour > 1 ? programme.nbJour ~ ' jours' : programme.nbJour ~ ' journée' }}
    <a href=" {{ path('removeModuleToSession', {'id':session.id, 'programmeId':programme.id}) }}">
        <i class="fa-solid fa-file-circle-minus"></i>
    </a><br>
{% endfor %}

<h3>Modules non programmés:</h3>
{% for module in nonProgrammes %}
    {{ module.nom }}
    <form method="POST" action="{{ path('addModuleToSession', {'id': session.id, 'moduleId': module.id}) }}">
        <input type="number" name="nbJour" placeholder="jours" required>
        <button type="submit">
            <i class="fa-solid fa-file-circle-plus"></i>
        </button>
    </form>
    
{% endfor %}

{% endblock %}
