{% extends 'base.html.twig' %}

{% block title %}Détails de la Session{% endblock %}

{% block body %}
{# {% for message in app.flashes('error') %}
    <div class="alert">
        {{message}}
    </div>
{% endfor %} #}
<a href="{{ path('show_sessions', {'id':session.formation.id}) }}">GO BACK</a>
<Div class="wrapper">
    <div class="left-container">
        <div class="session-item">
            <p class="title">{{session.nom}} - Formateur: {{ session.formateur }}<br></p>
            <div class="info">
                <div class="leftinfo">
                    Date de debut: {{session.dateDebutFormat}}<br>
                    Date de fin: {{session.dateFinFormat}}
                </div>
                <div class="rightinfo">
                    Places totales: {{ session.nbPlace }}<br>
                    Places Restantes: {{ placeRestantes }}
                </div>
            </div>
        </div>

        {% if placeRestantes > 0 %}
        <div class="stagiaire-inscrit">
            <div class="box-title">
                <p class="title">Stagiaires inscrits: </p>
            </div>
            {% for stagiaire in session.stagiaires %}
                <div class="stagiaire">
                    {{ stagiaire.nom }} {{stagiaire.prenom}}
                    <a href="{{  path('removeStagToSession',{'id':session.id, 'stagiaireId':stagiaire.id}) }}">
                        <i class="fa-solid fa-user-minus"></i>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="stagiaire-noninscrit">
            <div class="box-title">
            <p class="title">Non inscrits</p>
            </div>
            {% for nonInscrit in nonInscrits %}
            <div class="stagiaire">
                {{ nonInscrit.nom }} {{ nonInscrit.prenom}} 
                <a href="{{ path('addStagToSession',{'id':session.id, 'stagiaireId':nonInscrit.id}) }}">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}  

        <div class="stagiaire-inscrit">  
            <div class="box-title">
                <p class="title">Stagiaires inscrits: </p>
            </div>
            {% for stagiaire in session.stagiaires %}
            <div class="stagiaire">
                {{ stagiaire.nom }} {{stagiaire.prenom}}
                <a href="{{  path('removeStagToSession',{'id':session.id, 'stagiaireId':stagiaire.id}) }}">
                    <i class="fa-solid fa-user-minus"></i>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="stagiaire-noninscrit">
            <div class="box-title">
            <p class="title">Non inscrits:</p>
            </div>
            {% for nonInscrit in nonInscrits %}
                <div class="stagiaire">
                    {{ nonInscrit.nom }} {{ nonInscrit.prenom}} 
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="right-container">
        <div class="modules-programme">
            <div class="box-title">
                <p class="title">Modules Programmés:</p>
            </div>
            {% for programme in session.programmes %}
                <div class="box-nom-module">
                    {{ programme.module }}- Categorie: {{programme.module.categorie}} - Durée: {{ programme.nbJour > 1 ? programme.nbJour ~ ' jours' : programme.nbJour ~ ' journée' }}
                    <a href=" {{ path('removeModuleToSession', {'id':session.id, 'programmeId':programme.id}) }}">
                        <i class="fa-solid fa-file-circle-minus"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="modules-nonprogramme">
            <div class="box-title">
                <p class="title">Modules non programmés:</p>
            </div>
            {% for module in nonProgrammes %}
                <div class="modules-no-prog">
                    {{ module.nom }}
                    <form method="POST" action="{{ path('addModuleToSession', {'id': session.id, 'moduleId': module.id}) }}">
                        <input type="number" name="nbJour" placeholder="jours" required>
                        <button type="submit">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</Div>
{% endblock %}
