{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1>SESSIONS</h1>

{% for session in sessions %}
    <a href="{{path('detail_session', {'id':session.id})}}"><h3>{{ session.nom }}</h3></a><br>
    Date de debut: {{session.dateDebutFormat}}<br>
    Date de fin: {{session.dateFinFormat}}<br>
    Places disponibles: {{ session.nbPlace }}<br>
    Formateur: {{ session.formateur }}<br>


{% endfor %}
{% endblock %}
