{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<h1>LISTE DES FORMATEURS</h1>

<div class="liste-formateur">
    {% for formateur in formateurs %}
        {{ formateur }}-{{ formateur.email }} <a href=" {{path('delete_formateur', {'id':formateur.id})}}"><i class="fa-solid fa-trash"></i></a><br>
    {% endfor %}
</div>
<h3>Ajouter un formateur</h3>
<div class="add-formateur">
    {{ form_start(formAddFormateur) }}
        {{ form_row(formAddFormateur.nom) }}

        {{ form_row(formAddFormateur.prenom) }}
        
        {{ form_row(formAddFormateur.email) }}

        {{ form_row(formAddFormateur.valider) }}
    {{ form_end(formAddFormateur) }}
</div>
{% endblock %}
