{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<h1>LISTE DES FORMATEURS</h1>

<div class="liste-formateur">
    {% for formateur in formateurs %}
        {{ formateur }}<br>
    {% endfor %}
</div>
<div class="add-formateur">
    {{ form_start(formAddFormateur) }}
        {{ form_row(formAddFormateur.nom) }}

        {{ form_row(formAddFormateur.prenom) }}
        
        {{ form_row(formAddFormateur.email) }}

        {{ form_row(formAddFormateur.valider) }}
    {{ form_end(formAddFormateur) }}
</div>
{% endblock %}
